<link rel="stylesheet" href="./MediaLockup.css">

<!-- Lockup 13: Asymmetric Left Heavy (7/5) -->
<div class="media-lockup media-lockup--asymmetric-left">
  <div class="media-lockup__image">
    <img src="https://picsum.photos/900/700?random=13" alt="Asymmetric left heavy layout">
  </div>
  <div class="media-lockup__content">
    <h2 class="media-lockup__heading">Asymmetric Left 7/5</h2>
    <p class="media-lockup__subheading">Left-weighted layout</p>
    <p class="media-lockup__body">
      Asymmetric split with image taking 7 columns, text taking 5 columns.
      Creates visual interest through unequal proportions.
    </p>
  </div>
</div>
