<link rel="stylesheet" href="./MediaLockup.css">

<!-- Lockup 07: Wide Image (8/4) -->
<div class="media-lockup media-lockup--wide-image">
  <div class="media-lockup__image">
    <img src="https://picsum.photos/1000/700?random=7" alt="Wide image taking 8 columns">
  </div>
  <div class="media-lockup__content">
    <h2 class="media-lockup__heading">Wide Image 8/4</h2>
    <p class="media-lockup__subheading">Image emphasizes the layout</p>
    <p class="media-lockup__body">
      Asymmetric layout with image taking 8 columns and text taking 4 columns on desktop.
      Mobile stacks vertically. Perfect when the image is the star.
    </p>
  </div>
</div>
