<link rel="stylesheet" href="./MediaLockup.css">

<!-- Lockup 14: Asymmetric Right Heavy (5/7) -->
<div class="media-lockup media-lockup--asymmetric-right">
  <div class="media-lockup__content">
    <h2 class="media-lockup__heading">Asymmetric Right 5/7</h2>
    <p class="media-lockup__subheading">Right-weighted layout</p>
    <p class="media-lockup__body">
      Inverse asymmetric split with text taking 5 columns, image taking 7 columns.
      Ideal for alternating with the left-heavy version.
    </p>
  </div>
  <div class="media-lockup__image">
    <img src="https://picsum.photos/900/700?random=14" alt="Asymmetric right heavy layout">
  </div>
</div>
