<link rel="stylesheet" href="./ButtonTags.css">
<link rel="stylesheet" href="../Button/Button.css">

<div class="button-tags">
  <button class="button-tag button-tag--primary button-tag--small button-tag--interactive">Featured</button>
  <button class="button-tag button-tag--secondary button-tag--small button-tag--interactive">New</button>
  <span class="button-tag button-tag--tertiary-container button-tag--small">Bestseller</span>
  <button class="button-tag button-tag--outline button-tag--small button-tag--interactive">Seasonal</button>
  <span class="button-tag button-tag--tertiary-container button-tag--small">Limited Edition</span>
  <button class="button-tag button-tag--secondary button-tag--small button-tag--interactive">Sale</button>
</div>
