<link rel="stylesheet" href="./ButtonTags.css">
<link rel="stylesheet" href="../Button/Button.css">

<div class="button-tags">
  <span class="button-tag button-tag--secondary button-tag--small">orris</span>
  <span class="button-tag button-tag--secondary button-tag--small">plum</span>
  <span class="button-tag button-tag--secondary button-tag--small">peach skin</span>
  <span class="button-tag button-tag--secondary button-tag--small">white moss</span>
  <span class="button-tag button-tag--secondary button-tag--small">musks</span>
  <span class="button-tag button-tag--secondary button-tag--small">sandalwood</span>
</div>
