<link rel="stylesheet" href="./ButtonTags.css">
<link rel="stylesheet" href="../Button/Button.css">

<div class="button-tags">
  <button class="button-tag button-tag--secondary button-tag--small button-tag--interactive">orris</button>
  <button class="button-tag button-tag--secondary button-tag--small button-tag--interactive">plum</button>
  <button class="button-tag button-tag--secondary button-tag--small button-tag--interactive">peach skin</button>
  <button class="button-tag button-tag--secondary button-tag--small button-tag--interactive">white moss</button>
  <button class="button-tag button-tag--secondary button-tag--small button-tag--interactive">musks</button>
  <button class="button-tag button-tag--secondary button-tag--small button-tag--interactive">sandalwood</button>
</div>
