<link rel="stylesheet" href="./Typography.css">

<div>
  <p class="typography typography--step-8">Step 8: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step-7">Step 7: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step-6">Step 6: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step-5">Step 5: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step-4">Step 4: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step-3">Step 3: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step-2">Step 2: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step-1">Step 1: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step-0">Step 0: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step--1">Step -1: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step--2">Step -2: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step--3">Step -3: The quick brown fox jumps over the lazy dog</p>
  <p class="typography typography--step--4">Step -4: The quick brown fox jumps over the lazy dog</p>
</div>
