<link rel="stylesheet" href="./Radio.css">

<div class="radio-group radio-group--medium">
  <fieldset class="radio-group__fieldset">
    <legend class="radio-group__legend">Choose your plan</legend>

    <div class="radio-group__options">

      <label class="radio-option">
        <input
          type="radio"
          name="plan-basic"
          value="free"
          class="radio-option__input"
          checked
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Free Plan</span>
        </span>
      </label>

      <label class="radio-option">
        <input
          type="radio"
          name="plan-basic"
          value="pro"
          class="radio-option__input"
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Pro Plan</span>
        </span>
      </label>

      <label class="radio-option">
        <input
          type="radio"
          name="plan-basic"
          value="enterprise"
          class="radio-option__input"
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Enterprise Plan</span>
        </span>
      </label>

    </div>
  </fieldset>
</div>
