<link rel="stylesheet" href="./Radio.css">

<div class="radio-group radio-group--medium">
  <fieldset class="radio-group__fieldset">
    <legend class="radio-group__legend">Select your size</legend>

    <div class="radio-group__options radio-group__options--horizontal">

      <label class="radio-option">
        <input
          type="radio"
          name="size"
          value="small"
          class="radio-option__input"
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Small</span>
        </span>
      </label>

      <label class="radio-option">
        <input
          type="radio"
          name="size"
          value="medium"
          class="radio-option__input"
          checked
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Medium</span>
        </span>
      </label>

      <label class="radio-option">
        <input
          type="radio"
          name="size"
          value="large"
          class="radio-option__input"
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Large</span>
        </span>
      </label>

      <label class="radio-option">
        <input
          type="radio"
          name="size"
          value="xlarge"
          class="radio-option__input"
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">X-Large</span>
        </span>
      </label>

    </div>
  </fieldset>
</div>
