<link rel="stylesheet" href="./Radio.css">

<div style="display: flex; flex-direction: column; gap: var(--space-xl); max-width: 500px;">

  <!-- Small -->
  <div class="radio-group radio-group--small">
    <fieldset class="radio-group__fieldset">
      <legend class="radio-group__legend">Small Size</legend>
      <div class="radio-group__options">
        <label class="radio-option">
          <input type="radio" name="size-small" value="option1" class="radio-option__input" checked />
          <span class="radio-option__button"></span>
          <span class="radio-option__content">
            <span class="radio-option__label">Option 1</span>
            <span class="radio-option__description">Small description text</span>
          </span>
        </label>
        <label class="radio-option">
          <input type="radio" name="size-small" value="option2" class="radio-option__input" />
          <span class="radio-option__button"></span>
          <span class="radio-option__content">
            <span class="radio-option__label">Option 2</span>
            <span class="radio-option__description">Small description text</span>
          </span>
        </label>
      </div>
    </fieldset>
  </div>

  <!-- Medium -->
  <div class="radio-group radio-group--medium">
    <fieldset class="radio-group__fieldset">
      <legend class="radio-group__legend">Medium Size (Default)</legend>
      <div class="radio-group__options">
        <label class="radio-option">
          <input type="radio" name="size-medium" value="option1" class="radio-option__input" checked />
          <span class="radio-option__button"></span>
          <span class="radio-option__content">
            <span class="radio-option__label">Option 1</span>
            <span class="radio-option__description">Medium description text</span>
          </span>
        </label>
        <label class="radio-option">
          <input type="radio" name="size-medium" value="option2" class="radio-option__input" />
          <span class="radio-option__button"></span>
          <span class="radio-option__content">
            <span class="radio-option__label">Option 2</span>
            <span class="radio-option__description">Medium description text</span>
          </span>
        </label>
      </div>
    </fieldset>
  </div>

  <!-- Large -->
  <div class="radio-group radio-group--large">
    <fieldset class="radio-group__fieldset">
      <legend class="radio-group__legend">Large Size</legend>
      <div class="radio-group__options">
        <label class="radio-option">
          <input type="radio" name="size-large" value="option1" class="radio-option__input" checked />
          <span class="radio-option__button"></span>
          <span class="radio-option__content">
            <span class="radio-option__label">Option 1</span>
            <span class="radio-option__description">Large description text</span>
          </span>
        </label>
        <label class="radio-option">
          <input type="radio" name="size-large" value="option2" class="radio-option__input" />
          <span class="radio-option__button"></span>
          <span class="radio-option__content">
            <span class="radio-option__label">Option 2</span>
            <span class="radio-option__description">Large description text</span>
          </span>
        </label>
      </div>
    </fieldset>
  </div>

</div>
