<link rel="stylesheet" href="./Radio.css">

<div class="radio-group radio-group--medium" style="max-width: 600px;">
  <fieldset class="radio-group__fieldset">
    <legend class="radio-group__legend radio-group__legend--required">
      Select a shipping method
    </legend>

    <div class="radio-group__options">

      <label class="radio-option">
        <input
          type="radio"
          name="shipping"
          value="standard"
          class="radio-option__input"
          required
          aria-required="true"
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Standard Shipping - Free</span>
          <span class="radio-option__description">Delivery in 5-7 business days</span>
        </span>
      </label>

      <label class="radio-option">
        <input
          type="radio"
          name="shipping"
          value="express"
          class="radio-option__input"
          required
          aria-required="true"
          checked
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Express Shipping - $9.99</span>
          <span class="radio-option__description">Delivery in 2-3 business days</span>
        </span>
      </label>

      <label class="radio-option">
        <input
          type="radio"
          name="shipping"
          value="overnight"
          class="radio-option__input"
          required
          aria-required="true"
        />
        <span class="radio-option__button"></span>
        <span class="radio-option__content">
          <span class="radio-option__label">Overnight Shipping - $24.99</span>
          <span class="radio-option__description">Next business day delivery</span>
        </span>
      </label>

    </div>

    <span class="radio-group__helper">
      Shipping costs will be calculated at checkout
    </span>
  </fieldset>
</div>
