<link rel="stylesheet" href="./RadioButtonGroup.css">

<div style="display: flex; flex-direction: column; gap: var(--space-2xl); max-width: 800px;">

  <!-- Mini -->
  <div class="button-group">
    <fieldset class="button-group__fieldset">
      <legend class="button-group__legend">Mini Size</legend>
      <div class="button-group__buttons">
        <div class="button-group__button">
          <input type="radio" name="size-mini" id="mini-1" value="1" class="button-group__input" checked />
          <label for="mini-1" class="button-group__label button-group__label--primary button-group__label--mini">
            Option 1
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="size-mini" id="mini-2" value="2" class="button-group__input" />
          <label for="mini-2" class="button-group__label button-group__label--primary button-group__label--mini">
            Option 2
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="size-mini" id="mini-3" value="3" class="button-group__input" />
          <label for="mini-3" class="button-group__label button-group__label--primary button-group__label--mini">
            Option 3
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- Small -->
  <div class="button-group">
    <fieldset class="button-group__fieldset">
      <legend class="button-group__legend">Small Size</legend>
      <div class="button-group__buttons">
        <div class="button-group__button">
          <input type="radio" name="size-small" id="small-1" value="1" class="button-group__input" />
          <label for="small-1" class="button-group__label button-group__label--primary button-group__label--small">
            Option 1
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="size-small" id="small-2" value="2" class="button-group__input" checked />
          <label for="small-2" class="button-group__label button-group__label--primary button-group__label--small">
            Option 2
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="size-small" id="small-3" value="3" class="button-group__input" />
          <label for="small-3" class="button-group__label button-group__label--primary button-group__label--small">
            Option 3
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- Medium -->
  <div class="button-group">
    <fieldset class="button-group__fieldset">
      <legend class="button-group__legend">Medium Size (Default)</legend>
      <div class="button-group__buttons">
        <div class="button-group__button">
          <input type="radio" name="size-medium" id="medium-1" value="1" class="button-group__input" />
          <label for="medium-1" class="button-group__label button-group__label--primary button-group__label--medium">
            Option 1
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="size-medium" id="medium-2" value="2" class="button-group__input" />
          <label for="medium-2" class="button-group__label button-group__label--primary button-group__label--medium">
            Option 2
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="size-medium" id="medium-3" value="3" class="button-group__input" checked />
          <label for="medium-3" class="button-group__label button-group__label--primary button-group__label--medium">
            Option 3
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- Large -->
  <div class="button-group">
    <fieldset class="button-group__fieldset">
      <legend class="button-group__legend">Large Size</legend>
      <div class="button-group__buttons">
        <div class="button-group__button">
          <input type="radio" name="size-large" id="large-1" value="1" class="button-group__input" checked />
          <label for="large-1" class="button-group__label button-group__label--primary button-group__label--large">
            Option 1
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="size-large" id="large-2" value="2" class="button-group__input" />
          <label for="large-2" class="button-group__label button-group__label--primary button-group__label--large">
            Option 2
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="size-large" id="large-3" value="3" class="button-group__input" />
          <label for="large-3" class="button-group__label button-group__label--primary button-group__label--large">
            Option 3
          </label>
        </div>
      </div>
    </fieldset>
  </div>

</div>
