<link rel="stylesheet" href="./RadioButtonGroup.css">

<div class="button-group">
  <fieldset class="button-group__fieldset">
    <legend class="button-group__legend">Choose an option</legend>

    <div class="button-group__buttons">

      <div class="button-group__button">
        <input
          type="radio"
          name="primary-group"
          id="primary-option-1"
          value="option1"
          class="button-group__input"
          checked
        />
        <label for="primary-option-1" class="button-group__label button-group__label--primary button-group__label--medium">
          Option 1
        </label>
      </div>

      <div class="button-group__button">
        <input
          type="radio"
          name="primary-group"
          id="primary-option-2"
          value="option2"
          class="button-group__input"
        />
        <label for="primary-option-2" class="button-group__label button-group__label--primary button-group__label--medium">
          Option 2
        </label>
      </div>

      <div class="button-group__button">
        <input
          type="radio"
          name="primary-group"
          id="primary-option-3"
          value="option3"
          class="button-group__input"
        />
        <label for="primary-option-3" class="button-group__label button-group__label--primary button-group__label--medium">
          Option 3
        </label>
      </div>

    </div>
  </fieldset>
</div>
