<link rel="stylesheet" href="./RadioButtonGroup.css">
<link rel="stylesheet" href="../Icon/Icon.css">

<div style="display: flex; flex-direction: column; gap: var(--space-2xl); max-width: 800px;">

  <!-- Primary -->
  <div class="button-group">
    <fieldset class="button-group__fieldset">
      <legend class="button-group__legend">Primary Style</legend>
      <div class="button-group__buttons">
        <div class="button-group__button">
          <input type="radio" name="primary" id="primary-1" value="1" class="button-group__input" checked />
          <label for="primary-1" class="button-group__label button-group__label--primary button-group__label--medium">
            Option 1
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="primary" id="primary-2" value="2" class="button-group__input" />
          <label for="primary-2" class="button-group__label button-group__label--primary button-group__label--medium">
            Option 2
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="primary" id="primary-3" value="3" class="button-group__input" />
          <label for="primary-3" class="button-group__label button-group__label--primary button-group__label--medium">
            Option 3
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- Secondary -->
  <div class="button-group">
    <fieldset class="button-group__fieldset">
      <legend class="button-group__legend">Secondary Style</legend>
      <div class="button-group__buttons">
        <div class="button-group__button">
          <input type="radio" name="secondary" id="secondary-1" value="1" class="button-group__input" />
          <label for="secondary-1" class="button-group__label button-group__label--secondary button-group__label--medium">
            Option 1
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="secondary" id="secondary-2" value="2" class="button-group__input" checked />
          <label for="secondary-2" class="button-group__label button-group__label--secondary button-group__label--medium">
            Option 2
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="secondary" id="secondary-3" value="3" class="button-group__input" />
          <label for="secondary-3" class="button-group__label button-group__label--secondary button-group__label--medium">
            Option 3
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- Tertiary -->
  <div class="button-group">
    <fieldset class="button-group__fieldset">
      <legend class="button-group__legend">Tertiary Style</legend>
      <div class="button-group__buttons">
        <div class="button-group__button">
          <input type="radio" name="tertiary" id="tertiary-1" value="1" class="button-group__input" />
          <label for="tertiary-1" class="button-group__label button-group__label--tertiary button-group__label--medium">
            Option 1
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="tertiary" id="tertiary-2" value="2" class="button-group__input" />
          <label for="tertiary-2" class="button-group__label button-group__label--tertiary button-group__label--medium">
            Option 2
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="tertiary" id="tertiary-3" value="3" class="button-group__input" checked />
          <label for="tertiary-3" class="button-group__label button-group__label--tertiary button-group__label--medium">
            Option 3
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- Outline -->
  <div class="button-group">
    <fieldset class="button-group__fieldset">
      <legend class="button-group__legend">Outline Style</legend>
      <div class="button-group__buttons">
        <div class="button-group__button">
          <input type="radio" name="outline" id="outline-1" value="1" class="button-group__input" checked />
          <label for="outline-1" class="button-group__label button-group__label--outline button-group__label--medium">
            Option 1
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="outline" id="outline-2" value="2" class="button-group__input" />
          <label for="outline-2" class="button-group__label button-group__label--outline button-group__label--medium">
            Option 2
          </label>
        </div>
        <div class="button-group__button">
          <input type="radio" name="outline" id="outline-3" value="3" class="button-group__input" />
          <label for="outline-3" class="button-group__label button-group__label--outline button-group__label--medium">
            Option 3
          </label>
        </div>
      </div>
    </fieldset>
  </div>

</div>
