<link rel="stylesheet" href="./Navigation.css">
<link rel="stylesheet" href="../Button/Button.css">
<link rel="stylesheet" href="../Icon/Icon.css">

<nav class="navigation">
  <div class="navigation__container">
    <!-- Left: Navigation Links -->
    <div class="navigation__left">
      <button class="btn btn--tertiary btn--small">shop</button>
      <button class="btn btn--tertiary btn--small">quality</button>
      <button class="btn btn--tertiary btn--small">snif society</button>
    </div>

    <!-- Center: Logo with Image -->
    <div class="navigation__center">
      <a href="/" class="navigation__logo-link">
        <div class="navigation__logo-container">
          <img
            src="https://placehold.co/400x225/e8e8e8/666666?text=LOGO"
            alt="Brand Logo"
            class="navigation__logo"
          />
        </div>
      </a>
    </div>

    <!-- Right: Icon Buttons -->
    <div class="navigation__right">
      <button class="btn btn--tertiary btn--circle btn--small">
        <span class="icon">search</span>
      </button>
      <button class="btn btn--tertiary btn--circle btn--small">
        <span class="icon">shopping_bag</span>
      </button>
    </div>
  </div>
</nav>
