<link rel="stylesheet" href="./Select.css">

<div class="select-field select-field--medium">
  <label for="select-default" class="select-field__label">
    Country
  </label>
  <div class="select-field__wrapper">
    <select
      id="select-default"
      class="select-field__select"
      aria-describedby="select-default-helper"
    >
      <option value="">Select a country</option>
      <option value="us">United States</option>
      <option value="ca">Canada</option>
      <option value="mx">Mexico</option>
      <option value="uk">United Kingdom</option>
      <option value="de">Germany</option>
      <option value="fr">France</option>
      <option value="jp">Japan</option>
      <option value="au">Australia</option>
    </select>
  </div>
  <span id="select-default-helper" class="select-field__helper">
    Choose your country of residence
  </span>
</div>
