<link rel="stylesheet" href="./Grid.css">

<div class="u-grid" style="grid-template-columns: repeat(12, 1fr);">
  <div class="grid-demo-column col-span-12">col-span-12 (Full Width)</div>
  <div class="grid-demo-column col-span-6">col-span-6</div>
  <div class="grid-demo-column col-span-6">col-span-6</div>
  <div class="grid-demo-column col-span-4">col-span-4</div>
  <div class="grid-demo-column col-span-4">col-span-4</div>
  <div class="grid-demo-column col-span-4">col-span-4</div>
  <div class="grid-demo-column col-span-3">col-span-3</div>
  <div class="grid-demo-column col-span-3">col-span-3</div>
  <div class="grid-demo-column col-span-3">col-span-3</div>
  <div class="grid-demo-column col-span-3">col-span-3</div>
</div>
