<link rel="stylesheet" href="./Grid.css">

<div class="grid-demo">
  <div class="grid-demo-column">1</div>
  <div class="grid-demo-column">2</div>
  <div class="grid-demo-column">3</div>
  <div class="grid-demo-column">4</div>
  <div class="grid-demo-column">5</div>
  <div class="grid-demo-column">6</div>
  <div class="grid-demo-column">7</div>
  <div class="grid-demo-column">8</div>
  <div class="grid-demo-column">9</div>
  <div class="grid-demo-column">10</div>
  <div class="grid-demo-column">11</div>
  <div class="grid-demo-column">12</div>
</div>
