<link rel="stylesheet" href="./Input.css">

<div class="input-field input-field--medium">
  <label for="input-text-basic" class="input-field__label">
    Full Name
  </label>
  <div class="input-field__wrapper">
    <input
      type="text"
      id="input-text-basic"
      class="input-field__input"
      placeholder="Enter your full name"
      aria-describedby="input-text-basic-helper"
    />
  </div>
  <span id="input-text-basic-helper" class="input-field__helper">
    Please enter your first and last name
  </span>
</div>
